<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Custom suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d1f1c8">  <td>14/10/29 13:13:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCreateNewIssue.TestCreateIssue()[pri:0, instance:TestScript.TestCreateNewIssue@387c703b]">TestCreateIssue</td> 
  <td>main@1688019098</td>   <td></td> </tr>
<tr bgcolor="d1f1c8">  <td>14/10/29 13:13:37</td>   <td>22128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCreateNewIssue.cleanUp()[pri:0, instance:TestScript.TestCreateNewIssue@387c703b]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td>  <td>main@1688019098</td>   <td></td> </tr>
<tr bgcolor="d1f1c8">  <td>14/10/29 13:12:42</td>   <td>-33514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCreateNewIssue.setUp(java.lang.reflect.Method)[pri:0, instance:TestScript.TestCreateNewIssue@387c703b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1688019098</td>   <td></td> </tr>
</table>
